 
<!DOCTYPE html>
<html>
<head id="MyHead" >

    @Styles.Render("~/Content/css")

    <style type="text/css">
        .textarea-box textarea {
            color: #333;
        }

        .display-label {
            width: 120px;
            height: 24px;
            float: left;
            text-align: right;
            margin: 11px 0;
            line-height: 24px;
        }
        
        .display-field {
            height: 24px;
            float: left;
            margin: 11px 0 11px 6px;
            color: #333;
            width: 290px;
            text-align: left;
            display: inline;
            line-height: 24px;
        }
    </style>
    <title></title>
    @RenderSection("HeadContent", false)
   
</head>
<body>
    <div class="mbx">
        @RenderSection("CurentPlace", false)

    </div>
    @RenderBody()
</body>
</html>
